extensions:

    #Common
    nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension

    #Dbal
    nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
    nettrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension(%consoleMode%)

    #Cache
    nettrine.cache: Nettrine\Cache\DI\CacheExtension

    #ORM
    nettrine.orm: Nettrine\ORM\DI\OrmExtension
    nettrine.orm.cache: Nettrine\ORM\DI\OrmCacheExtension
    nettrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension(%consoleMode%)
    nettrine.orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension

    #Migrations
    nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension

nettrine.dbal:
    debug:
        panel: %debugMode%
        sourcePaths: [%appDir%]
    connection:
        host: localhost
        driver: mysqli
        dbname: todolist
        user: root
        password: root

nettrine.orm.annotations:
    mapping:
        App\Model\Database\Entity: %appDir%/Model/Database/Entity

nettrine.orm:
    entityManagerDecoratorClass: App\Model\Database\EntityManager
    configuration:
        autoGenerateProxyClasses: %debugMode%

nettrine.migrations:
    directory: %appDir%/../migrations